@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans bg-primary-light text-slate-900;
}

a {
  @apply text-primary transition-colors;
}

a:hover {
  @apply text-primary-dark;
}

button:disabled {
  @apply opacity-50 cursor-not-allowed;
}
